.card-title {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}

.custom-text {
    font-size: 13px;
    color: #333;
}

.card {
    margin: 3px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }

.MuiPopover-paper {
    width: 370px;
}

.popup-text-title {
    font-size: 11.5px;
    font-weight: bold;
}

.popup-text-data {
    font-size: 11px;
}

.card .MuiCardHeader-root {
    padding: 10px 8px;
}

.card .MuiCardContent-root {
    padding: 0px 10px;
}

.popover-content .MuiTypography-paragraph {
    line-height: 1.2;
    margin: 0;
}


.no-search-tips{
    font-size: 13px;
    color: grey;
}
.no-search-container {
    position: relative;
    left: 17%;
    border: 1px solid #ccc; /* 테두리 스타일 */
    padding: 20px;
    width: 870px; /* 원하는 너비 설정 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.nosearch-input {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.logo {
    position: relative;
    cursor: pointer;
  }
  
  .logo:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    z-index: -1;
  }
  
  .logo:hover:before {
    width: 150%;
    height: 130%;
    left: -10px;
    top: -3px;
  }
  
  