.scrollable-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
  }
  
  .scroll-menu-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  