.title {      /*Na*/
    position: absolute;
    font-family: 'Noto Sans';
    font-style: normal;  
    font-weight: 900;    /* 텍스트 굵기 */
    font-size: 100px;
    color: #00C036;  
    left: calc(50% - 146px/2 - 76px);
    top: 90px;
  
  }
  
  .subtitle1 {      /*의 솔직*/
    position: absolute;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;    /* 텍스트 굵기 */
    font-size: 40px;
    color: #686363;
    left: calc(50% - 121px/2 + 60px);
    top: 191px;
  }
  
  .subtitle2 {      /*RE*/
    position: absolute;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;    /* 텍스트 굵기 */
    font-size: 100px;
    color: #FFDA1A;
    left: calc(50% - 123px/2 - 14.5px);
    top: 165px;
  }
  
  .subtitle3 {      /*view*/
    position: absolute;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;    /* 텍스트 굵기 */
    font-size: 40px;
    color: #686363;
    left: calc(1080px);
    top: 279px;
  }